<!DOCTYPE html>
<html ng-app="LunchCheck" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lunch Checker</title>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
      .red-font { color: red; }
      .green-font { color: green; }
      .red-border { border-color: red; }
      .green-border { border-color: green; }
    </style>
  </head>
  <body>
    <div class="container" ng-controller='LunchCheckController'>
      <h1>Lunch Checker</h1>

          <div class="form-group">
              <!-- Note: I'm not considering empty value between commas. -->
              <input id="lunch-menu" type="text" ng-model="lunchItems"
              placeholder="list comma separated dishes you usually have for lunch"
              class="form-control" ng-class="inputStyle.colorClass">
          </div>
          <div class="form-group">
              <button class="btn btn-default" ng-click="checkIfTooMuch()">Check If Too Much</button>
          </div>
          <div class="form-group message" ng-class="messageStyle.colorClass">
            {{message}}
          </div>
    </div>
  </body>
</html>
